@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

body {
  font: 100% 'Open Sans', Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0;
}

nav h1, main h2 {
  font-weight: 300;
  font-size: 2rem;
}

nav {
  background-color: #222629;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100%;
  text-align: right;
}

nav h1 {
  margin: 40px 0 25px 0;
  text-align: center;
}

nav ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

nav ul li a {
  display: block;
  padding: 20px 60px;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  transition: color .25s, background-color .25s;
}

nav ul li a:hover {
  color: white;
}

nav ul li a.active{
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

main {
  margin-left: 250px;
  padding: 15px 40px;
}

main h2 {
  margin-bottom: 35px;
}
